.mohamed1{
    background-color: red;
  
    
}
ul{
    display: inline-flex;
    margin: 10px 20px 10px 20px;
    
   
}
li{
    margin: 10px 20px 10px 20px;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
}